<div class="row" >
        <div class="col-sm-12  col-md-6 col-md-offset-3">
            <div class="panel panel-primary" id="contactPage">
                <div class="panel-heading text-center">Contact ZAS Wireless</div>
                <div class="panel-body">
                    <div class="form">
                        <div class="form-group form-group-sm">
                            <label >Frist Name</label>
                            <input  class="form-control input-sm">
                        </div>

                         <button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</div> 
			</div>
		</div>
</div> 
