<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <h3>ZAS Motors Directions</h3>
    <div id="map"></div>
    <script>
      function initMap() {
       	var zas={lat:32.7949221 , lng: -116.9468228};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: zas
        });
        var marker = new google.maps.Marker({
          position:zas,
          map: map,
          title:'ZAS Motors'
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgNoLNGvo0M78GYUkxFk_aVdZYJYIacvk&callback=initMap">
    </script>
  </body>
</html>
   
<!-- AIzaSyAgNoLNGvo0M78GYUkxFk_aVdZYJYIacvk -->