<div class="container">
    <div class="row">
            <div class="col-md-12">
                <div class="navbar-form navbar-right" role="search">
                    <div class="form-group form-group-sm col-sm-offset-4">
                        <input type="text" class="form-control"  placeholder="Search...">
                    </div>
                </div>
                <div class="navbar-form navbar-right">
                    <div class="form-group form-group-sm col-sm-offset-9">
                    <button type="button" class="btn btn-custom btn-primary btn-sm" >Add A New Car</button>
                    </div>
                </div>
            </div>
    </div>
</div>